@use 'variables' as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
}

body {
  background-color: $white;
  color: $gray-800;
  display: flex;
  flex-flow: column;
  min-height: 100%;
  position: relative;
}

// Fluid images by default
img {
  display: block;
  height: auto;
  width: 100% \9; // Force IE10 and below to size SVG images correctly
  max-width: 100%;
}
