@use 'variables' as *;
@use 'mixins/breakpoints';

// Tables
table {
  margin-top: 1rem;
  font-weight: normal;
  font-size: 0.875rem;
  letter-spacing: normal;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  width: 100%;
  position: relative;
  table-layout: auto;
  display: table;
  line-height: 1.5;
  max-width: 100%;
  overflow: auto;

  tr {
    border-top: 1px solid $gray-50;

    &:last-child {
      border-bottom: 1px solid $gray-50;
    }
  }

  th,
  td {
    padding: 1em;
  }

  thead {
    tr {
      border-top: 0;
    }
  }

  th {
    background-color: $white;
    color: $gray-950;
    line-height: 1.25;
    text-align: left;
    position: sticky;
    vertical-align: top;
    z-index: 1;
    top: $header-height;
    padding: 14px;
  }

  td {
    vertical-align: top;
    max-width: 12rem;

    a {
      /* stylelint-disable declaration-no-important */
      border-bottom: 0 !important;
      /* stylelint-enable declaration-no-important */
    }
  }
}

table.blueprints {
  position: relative;
  z-index: 100;
}
